<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>

</head>
<body>


<div >

    <p>
        <label>Email: </label>
        <strong th:text="${input.id}"></strong>
    </p>
    <p>
        <label>Email: </label>
        <strong th:text="${input.email}"></strong>
    </p>

    <p>
        <label>CreditCardNumber </label>
        <strong th:text="${input.creditCardNumber}"></strong>
    </p>


    <p>
        <label>cvc </label>
        <strong th:text="${input.cvc}"></strong>
    </p>


</div>

<h3>SUCSSESFULY PAID , YOUR ORDER IS ONDERWAY IT TAKES 0- 3 WORDAYS</h3>


</body>
</html>